services:
  - type: web
    name: clokify-backend
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: DATABASE_URL
        value: mongodb+srv://proyecto_final:prueba@bd.qssnf.mongodb.net
      - key: JWT_SECRET
        generateValue: true
      - key: FRONTEND_URL
        value: https://tu-frontend.onrender.com